body {
  background-color: #1B1B1B;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
}

div.c1 {
  height: 50px;
  width: 100%;
  background-color: #111;
  position: fixed;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

div.c1 img.icon {
  width: 60px;
  height: auto;
}
div.c1 span.titulo {
  color: #FFF;
  position: absolute;
  margin-top: 13px;
  font-size: 20px;
}
.menu-container {
    position: absolute;
    top: 5px;
    right: 15px;
    -webkit-tap-highlight-color: transparent;
}

.menu-button {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

div.conteudo {
  color: white;
  margin-top: 30px;
}
h1.sm {
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 8px 16px black;
}
p.psm {
  margin-left: 10px;
  margin-right: 5px;
  padding-left: 10px;
}